/* 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.slideshow {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin: 50px auto;
  transition: all 0.3s ease;
}
.slides {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
}
.slides li:first-child {
  margin-left: 50px;
}
.slides li:not(:last-child) {
  margin-right: 50px;
}
.slides li img {
  width: 200px;
  height: 200px;
}

.slideshow p {
  margin-top: 240px;
}
