.product-list {
  display: flex;

  justify-content: center;
}

.product {
  border: solid grey 0.5px;
  width: 300px;
  height: 150px;
  padding: 5px;
  margin: 30px;
}
li {
  list-style-type: none;
}
