.container {
  display: table;
  width: 70%;
  border-spacing: 20px;
  vertical-align: middle;
  text-align: center;
  position: fixed;
}

.item {
  display: table-cell;
  width: 60px;
  height: 30px;
  font-weight: bold;
  font-size: 15px;
}

#logo {
  background-image: url(logo.svg);
  width: 50px;
  background-repeat: no-repeat;
}
